*{
    margin: 0;
}
html{

    scroll-behavior:    smooth;
    font-size:          20px;
    font-family:        "Poppins",Arial, Helvetica, sans-serif;
      
    margin:             0;
    padding:            0;
}
body{
        /* #041b35; */
        background-color:   #ffffff;

}

/* 
navbar
*/

#navbar{
    background-color:     rgb(255, 255, 255);
    box-shadow:             0 10px 10px -5px rgb(0,0,0,.1);
    height:                 auto;
    left:                   0;
    margin:                 0;
    padding:                .25rem 0;
    width:                  100%;
    position:               sticky;
    top:                    0;
    z-index:                1;

}
#navbar ul{
    
    display:            flex;
    justify-content:    space-evenly;
    margin:             .4rem 5rem .4rem auto;
    list-style:         none;
    padding:            0;
    width:              30%;

}
#navbar ul li >a{
    color:            #041b35;
    font-size:          2.5vh;
    font-family:        "Poppins", Arial, Helvetica, sans-serif;
    font-weight:        200;
    margin:             0 0 0 .8rem;
    text-decoration:    none;

}
#navbar ul li >a:hover{
color:         orangered;
}

#navbar ul li::first-letter{
    color:          orangered;
    font-size:         3vh;
    font-weight:      bolder;
   
}
/* 
end navbar
*/

/* 
section start
*/
#start{
 
 
    background:         no-repeat center center fixed;
    background-image:   linear-gradient(to right, rgb(253, 253, 253) 30%,rgba(255, 255, 255, 0.877) 100%), url("../img/start.jpg") ;
    background-size:    cover;
    height:             30rem;
}
.quote h1{
    
    color:         #041b35;
    
    margin:         0 35rem 1rem 5rem;
    font-size:      4vmin;
    padding:        10rem 0 5rem 1rem;
    
    text-align:     justify;
    text-indent:    4rem;
    width:          55%;

    
}
.quote h1 q{
    font-weight:        bolder;
    letter-spacing:     .2rem;
    word-spacing:       .25rem;
    
}
.quote h1 span{
    font-size:          .9rem;

    
}
.quote h1 q::selection{
    color:          orangered;
}
h1 >span{
    font-weight:        500;
    font-style:         italic;
}
/* end section start*/
/* section welcome*/
#welcome{
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center;
    margin:             4rem;
}

.message{
  
    color:          #041b35;
    display:            flex;
    font-family:        "Poppins",Arial, Helvetica, sans-serif;
    font-size:          3.5vmin;
    justify-content:    center;
    align-items:        center;
    margin:              0 0 1rem 0;
    text-align:         center;
    width:              50%;
    
 
}
.message h2::first-letter{
    color:      orange;
}
.message h2 span{
    color:      orange;
  
  
}
.message img{

    border-radius:       1rem;
    opacity:             .8;
    max-width:            40vmin;
}
/* End Welcome Section */
/* 
About Setion
*/
#about-section{
    background-color: #041b35;
    height:             auto;
}
.section-heading{
    color:            white;
    font-size:          6vmin;
    font-weight:        100;
    padding:            2rem 0 0 0 ;
    text-align:         center;
}
.about-container{
    display:            flex;
    margin:             1rem 2rem 0 2rem;
    justify-content:    center;

   
   
    
}
div.my-info h3::first-line{
   color:       orange
}

div.my-info h3::first-letter{
   font-size:       5vmin;
}
div.my-info{
    color:       #ffffff;
    font-size:      2vmin;
    margin:         2rem 2rem 2rem 2rem;
    max-width:      40%;
    text-align:     center; 
    
}
.message-img2 img{
  
    border-radius:      50% 40%;
    opacity:            .8;

}
/* end About section*/

/* skils sections */

#skils-section{
    background-color:#EB2413; 

    height:             auto;
}
.skils-container{
    display:            flex;
    justify-content:    center;
    margin:             auto;
    flex-wrap:          wrap;
    width:              80%;
}
.skills-target{
    padding:            7vmin;
    text-align:         center;
}
.skills-name{
    color:              white;
    letter-spacing:     .5rem;
    margin:             0;
    font-weight:        100;
    word-spacing:       1rem;
    padding:            0;

}
.skills-name::selection{
color:      #041b35;
}
/* end skill section*/
/* Projest Section */
#projects-section{
    background-color:   #041b35;
    height:                auto;
}
.projects-container{
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center ;
 
}
.img-box{
    background-color:    #EB2413; 
    border-radius:          10px;
    box-shadow:             -10px 10px 30px 2px black;
    height:                 auto;
    margin:                 2rem 1.5rem 3rem 2rem;
    text-align:             center;
    width:                  25%;
    
}
.img-box:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
 
}
.img-box img{
    max-width:      100%;
    padding:        1rem 0 0 0;
 }

.description{
    color:          white;
    font-size:        3vmin;
    font-weight:      200;
    text-align:       center;
    margin-bottom:    1rem;

}
.description ul li{
    font-size:      2.5vmin;
    color:        #041b35;
    text-align:     left;
}
.warning{
    font-size: 1vmin;
    color: #aaeb13;
}
.img-box a{
    color:            #041b35;
    font-size:          4vmin;
    font-weight:        bolder;
    text-decoration:    none;
   
}
.img-box a:hover{
    color:          orange;
    transition:       all 1s ease-in-out;
}
/* End Project section */

#contact-section{

    text-align: center;
}
#contact-section i{
    margin: 1rem 2rem 3rem 0;
    color: #041b35;
}
#contact-section p{
    font-weight: 200;
}
#contact-section a :hover{
color: orangered;
}
#contact-section  .description{
color: #041b35;
}
.update-h1{
    color:         #041b35 ;
    margin:         2rem;
    word-spacing:   1.5rem;
}


 /* Contact section */

 /* End Conatct */